@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$dark: #171717;
$cardDark: #000000;
$circleNum: #07ad4c;
$circleNumBg: #404040;
$btnDark: #0a0a0a;
$mode-toggle-bg: #262626;
$accordionDark: #01053d;
$borderColor: #ffefce;
$buttonAccordionDark: #0b0d0f;
$pageNavDark: #0b112e;